
[Desktop Entry]
Version=1.0
Type=Application
Name=Exspresso
Comment=
Exec=/home/bruce/Projects/exspresso/exspresso.sh
Icon=/home/bruce/Projects/exspresso/bin/icons/128.png
Path=
Terminal=false
StartupNotify=false
