//
   Created with JetBrains WebStorm.
   User: bruce
   Date: 9/19/12
   Time: 7:18 AM
   To change this template use File | Settings | File Templates.

extends ./layout

block content

  #main
    .section
      h1 Welcome to Spring Travel
      p
        | This reference application illustrates
        a(href='http://www.springframework.org/faces') Spring Faces
        | ,
        | a software library that integrates Spring and JavaServerFaces technology to power rich web applications.
      p
        | The key features illustrated in this sample include:
      ul
        li
          | A declarative navigation model enabling full browser button support and dynamic navigation rules
        li
          | A fine-grained state management model, including support for ConversationScope and ViewScope
        li
          | Modularization of web application functionality by domain use case, illustrating project structure best-practices
        li Managed persistence contexts with the Java Persistence API (JPA)
        li Unified Expression Language (EL) integration
        li Spring Security integration
        li
          | Declarative page authoring with Facelets, including applying reusable page layouts
        li
          | A lightweight component library for Ajax and client-side validation that employs progressive enhancement techniques
        li Exception handling support across all layers of the application
        li
          | Spring IDE tooling integration, with support for graphical flow modeling and visualization
      p(align='right')
        a(href='/travel/search') Start your Spring Travel experience
