

extends ./layout

block content

  #main
    .section
      h1 Welcome to Time Travel
      p
        | This reference application is loosely based on
        a(href='http://www.springframework.org/faces')  Spring Faces
      p
        | The key features illustrated in this sample include:
      ul
        li Runs on NodeJs
        li Application written in coffee-script
        li Demonstrates the use of Sequelize in a data model
      p(align='right')
        a(href='/travel/search') Start your Time Travel experience
