
doctype 5

html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Time Travel
    style(type='text/css', media='screen')
      @import url("/stylesheets/tools.css");
      @import url("/stylesheets/typo.css");
      @import url("/stylesheets/forms.css");
      @import url("/stylesheets/layout-navtop-localleft.css");
      @import url("/stylesheets/layout.css");
      @import url("/stylesheets/booking.css");
  body.tundra.spring
    #page
      #header.clearfix.spring
        #welcome
          .left Time Travel: An Exspresso Reference Application
          .right Page rendered in {elapsed_time} ms
        p
        #branding.spring
          a(href='/travel')
            img(src='/img/TimeTravel.png', alt='Time Travel')
      #content.clearfix.spring
        #local.spring
          p

        block content
      #footer.clearfix.spring

    p.footer
      | powered by &nbsp;
      a(href="https://npmjs.org/package/exspresso")  e x s p r e s s o