//
//  http://richweb.springsource.org/swf-booking-faces/spring/main?execution=c1v

!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Time Travel
    style(type='text/css', media='screen')
      @import url("/stylesheets/tools.css");
      @import url("/stylesheets/typo.css");
      @import url("/stylesheets/forms.css");
      @import url("/stylesheets/layout-navtop-localleft.css");
      @import url("/stylesheets/layout.css");
      @import url("/stylesheets/booking.css");
  body.tundra.spring
    #page
      #header.clearfix.spring
        #welcome
          .left Time Travel: An Exspresso Reference Application
          .right
        p
        #branding.spring
          a(href='/travel')
            img(src='/img/TimeTravel.png', alt='Time Travel')
      #content.clearfix.spring
        #local.spring
          p

        block content
      #footer.clearfix.spring
