//+--------------------------------------------------------------------+
//| about.jade
//+--------------------------------------------------------------------+
//| Copyright DarkOverlordOfData (c) 2012
//+--------------------------------------------------------------------+
//|
//| This file is a part of Expresso
//|
//| DarkRoaster is free software you can copy, modify, and distribute
//| it under the terms of the GNU General Public License Version 3
//|
//+--------------------------------------------------------------------+
//|
//|	about
//|
doctype 5
html

  head
    title= settings.site_name
    link(rel='stylesheet', href='/css/welcome_message.css')

  body

    h1 About Exspresso!

    p= id

//End of file about.jade
//Location: ./views/about.jade