//+--------------------------------------------------------------------+
//| layout.jade
//+--------------------------------------------------------------------+
//| Copyright DarkOverlordOfData (c) 2012
//+--------------------------------------------------------------------+
//|
//| This file is a part of Exspresso
//|
//| Exspresso is free software you can copy, modify, and distribute
//| it under the terms of the GNU General Public License Version 3
//|
//+--------------------------------------------------------------------+
//|
//|	Base layout
//|

doctype 5
html
  head
    title= settings.site_name
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content

//End of file layout.jade
//Location: ./views/layout.jade