
doctype 5

html
  head
    title= settings.site_name
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content
    script(href='/js/jquery-1.8.1.min.js')
    script(href='/js/bootstrap.min.js')