doctype 5

html
  head
    title= settings.site_name
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body

    err = flashdata('error')
    if err != ''
      .alert.alert-error
        p
          b Error:
          |  #{err}

    info = flashdata('info')
    if info != ''
      .alert.alert-info
        p
          b Info:
          |  #{info}

    block content
    script(href='/js/jquery-1.8.1.min.js')
    script(href='/js/bootstrap.min.js')