//+--------------------------------------------------------------------+
//| welcome_message.jade
//+--------------------------------------------------------------------+
//| Copyright DarkOverlordOfData (c) 2012
//+--------------------------------------------------------------------+
//|
//| This file is a part of Exspresso
//|
//| Exspresso is free software you can copy, modify, and distribute
//| it under the terms of the GNU General Public License Version 3
//|
//+--------------------------------------------------------------------+
//|
//|	welcome_message
//|

doctype 5
html

  head
    title= settings.site_name
    link(rel='stylesheet', href='/css/welcome_message.css')

  body

    h1 Welcome to Exspresso!

    p The page you are looking at is being generated dynamically by Exspresso.

    p If you would like to edit this page you'll find it located at:

    code application/views/welcome_message.jade

    p The corresponding controller for this page is found at:

    code application/controllers/welcome.coffee

    p
      | If you are exploring Exspresso for the very first time, you should start by reading the
      a(href="user_guide/User Guide")  Documentation

    p
      br
      | Page rendered in {elapsed_time} ms


//End of file welcome_message.jade
//Location: ./views/welcome_message.jade