
doctype 5

html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Time Travel
    link(rel='stylesheet', href='/css/bootstrap.css')

  body
    .container
      h1 Time Travel
      block content
      footer
        | powered by &nbsp;
        a(href="https://npmjs.org/package/exspresso")  e x s p r e s s o

    script(href='/js/jquery-1.8.1.min.js')
    script(href='/js/bootstrap.min.js')