extends ./layout

block content

  .container
    h1 Login Required
    .hero-unit
      form(name='f', action='/authenticate', method='post')
        input(type="hidden",name="url",id="url",value="#{url}")
        .control-group
          label User:
          input(type='text', name='username', value='')
        .control-group
          label Password:
          input(type='password', name='password')
        .control-group
          label Don't ask for my password for two weeks:
          input(type='checkbox', name='remember_me')
        .control-group
          input.btn.btn-primary(name='submit', type='submit', value='Login')

        p Page rendered in {elapsed_time} ms

  .row
      p Valid username/passwords are:
      ul
        li keith/melbourne
        li erwin/leuven
        li jeremy/atlanta
        li scott/rochester
