
extends ../layout

block content
  h1= settings.site_name
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  center
    h3 page not found
    p
      &nbsp;
    h2 '#{url}'


