//+--------------------------------------------------------------------+
//| 404.jade
//+--------------------------------------------------------------------+
//| Copyright DarkOverlordOfData (c) 2012
//+--------------------------------------------------------------------+
//|
//| This file is a part of Exspresso
//|
//| Exspresso is free software you can copy, modify, and distribute
//| it under the terms of the GNU General Public License Version 3
//|
//+--------------------------------------------------------------------+
//|
//|	Error 404
//|

extends ../layout

block content
  h1= settings.site_name
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  p
    &nbsp;
  center
    h3 page not found
    p
      &nbsp;
    h2 '#{url}'

//End of file 404.jade
//Location: ./views/errors/404.jade