
extends ../layout

block content
  center
    h1 Zoiks!!!
    p
    h1 Like, Scoob - did you write this code?

      p severity #{severity}
      p message #{message}
      p filepath #{filepath}
      p line #{line}

