doctype 5

html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Time Travel
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/cupertino/jquery-ui-1.8.24.custom.css')

  body
    .container
      h1 Time Travel
      h3 Sequelize ORM / PostgreSql
      block content

      footer
        | powered by &nbsp;
        a(href="https://npmjs.org/package/exspresso")  e x s p r e s s o

    script(type='text/javascript', src='/js/jquery-1.8.1.min.js')
    script(type='text/javascript', src='/js/jquery-ui-1.8.24.custom.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript')
      $(function() {
        $(".datepicker").datepicker();
      });
